<?xml version="1.0"?>
<psalm
    errorLevel="1"
    hideExternalErrors="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="../../config"/>
        <directory name="../../src"/>
        <directory name="../../templates"/>
    </projectFiles>
    <extraFiles>
        <directory name="../../var/cache/dev/Symfony/Config" /> <!-- https://github.com/psalm/psalm-plugin-symfony/issues/201 -->
        <directory name="../../vendor" />
    </extraFiles>
    <plugins>
        <pluginClass xmlns="https://getpsalm.org/schema/config" class="Psalm\SymfonyPsalmPlugin\Plugin">
	        <containerXml>../../var/cache/dev/App_KernelDevDebugContainer.xml</containerXml>
	    </pluginClass>
    </plugins>
    <fileExtensions>
        <extension name=".php" />
        <extension name=".twig" checker="./vendor/psalm/plugin-symfony/src/Twig/TemplateFileAnalyzer.php"/>
    </fileExtensions>
    <issueHandlers>
        <MissingFile> <!-- https://github.com/psalm/psalm-plugin-symfony/issues/205 -->
            <errorLevel type="suppress">
                <file name="../../config/preload.php" />
            </errorLevel>
        </MissingFile>
    </issueHandlers>
</psalm>
