parameters:
    level: 9
    paths:
        - ../../config
        - ../../src
        - ../../tests
    bootstrapFiles:
        - ../../vendor/autoload.php

    symfony:
        containerXmlPath: ../../var/cache/dev/App_KernelDevDebugContainer.xml
    scanDirectories:
        - ../../var/cache/dev/Symfony/Config
